@keyframes RGB {
  0% {
    color: #ff0000;
  }
  5% {
    color: #ff5100;
  }
  10% {
    color: #ffa208;
  }
  15% {
    color: #fff028;
  }
  20% {
    color: #a2ff28;
  }
  25% {
    color: #73ff00;
  }
  30% {
    color: #15ff00;
  }
  35% {
    color: #00ff37;
  }
  40% {
    color: #00ff80;
  }
  45% {
    color: #00fff2;
  }
  50% {
    color: #00c3ff;
  }
  55% {
    color: #008cff;
  }
  60% {
    color: #0051ff;
  }
  65% {
    color: #0011ff;
  }
  70% {
    color: #2f00ff;
  }
  75% {
    color: #6200ff;
  }
  80% {
    color: #a200ff;
  }
  85% {
    color: #cc00ff;
  }
  90% {
    color: #ff00f2;
  }
  95% {
    color: #ff0095;
  }
  100% {
    color: #ff0040;
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  5% {
    border-color: crimson;
  }

  100% {
    border-color: #ccc;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}

.loading {
  animation: loading 1.5s infinite linear;
  grid-area: loading;
  width: 30px;
  margin: 5px auto;
}

.win-animation {
  animation: RGB 5s infinite linear;
}

.wordle-title {
  grid-area: title;
  border-bottom: 1px solid rgb(26, 26, 26);
  font-size: 35px;
  color: rgb(26, 26, 26);
  padding-bottom: 30px;
}

.wordle-words {
  margin: 10px auto;
  grid-area: wordle-words;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 15px;
}

.wordle-game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    ". title ."
    ". loading ."
    ". wordle-words .";
  text-align: center;
  margin: 50px;
}

.letter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-transform: uppercase;
  border: 3px solid #ccc;
  width: 45px;
  height: 45px;
}
